* {
  box-sizing: border-box;
}


    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body {
  margin: 16px;
  /* font-family: 
  -apple-system, BlinkMacSystemFont,'Montserrat', 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background-color: #fafafa;
  /* color: #212121; */
  /* line-height: 1.5em;    */
}

/* input {
  padding: 8px;
  font: inherit;
}

button {
  padding: 8px 12px;
  cursor: pointer;
} */

ul,
li, h1 {
  /* прибираємо дефолтні маркери та відступи спискам та заголовкам */
  list-style-type: none;
  margin: 0px;
  padding-left: 0px;
}

img {
  /* прибираємо дефолтні margin-bottom зображенням */
  display: block;
  max-width: 100%;
}

.gallery {
  display: flex;
  max-width: 1440px;
  /* height: 696px; */
  padding: 24px 156px;
  flex-direction: row;  
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  background: #FFF;
  
}
.gallery-item {
  display: flex;
  max-width: calc((100% - 24px*2)/3); 
  max-height: 200px;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}





 







